# Entornos virtuales (por si acaso el otro falla)
.venv/
venv/
ENV/

# Python basura
**/__pycache__/
*.py[cod]

# Configuración de IDE
.idea/

# Ignorar datos masivos y modelos pesados
data/
model/

# Ignorar archivos del sistema
.DS_Store
__pycache__/